<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Anmelden</title>
</head>
<body>
<h1>Anmelden</h1>
<form th:action="@{/login}" th:object="${verify}" method="post">
    <label for="username">Benutzername</label>:
    <input type="text" id="username" name="username" autofocus="autofocus"
           th:field="*{username}"/> <br />
    <label for="password">Passwort</label>:
    <input type="password" id="password" name="password" th:field="*{password}"/> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>
